<div class="container" fxLayout="column" fxLayoutGap="10px" fxLayoutGap.xs="0">
    <div fxFlex>
        <div>
            <h3>Menu</h3>
            <hr>
        </div>
    </div>
    <div fxFlex>
        <mat-grid-list cols="2" rowheight="200px">
            <mat-grid-tile *ngFor="let i of dishes" [routerLink]="[ '/dishdetail', i.id ]">
                <img height="200px" src={{i.image}} alt={{i.name}}>
                <mat-grid-tile-footer>
                    <h2 matLine>{{i.name | uppercase }}</h2>
                    <p matLine>
                        <span>{{i.description}}</span>
                    </p>
                </mat-grid-tile-footer>
            </mat-grid-tile>
        </mat-grid-list>
    </div>
</div>