<!-- <mat-card>
	<mat-card-header>
		<mat-card-title>
			<h3>{{dish.name | uppercase}}</h3>
		</mat-card-title>
	</mat-card-header>
		<img mat-card-image src={{dish.image}} alt={{dish.name}}>
	<mat-card-content>
		<p>{{dish.description}}</p>
	</mat-card-content>
	<mat-card-actions>
		<button mat-button>LIKE</button>
		<button mat-button>SHARE</button>
	</mat-card-actions>
</mat-card> -->

<div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" *ngIf="dish">
    <div fxFlex="60">
        <p>Display the details of the Dish here</p>
        <mat-card>
	<mat-card-header>
		<mat-card-title>
			<h3>{{dish.name | uppercase}}</h3>
		</mat-card-title>
	</mat-card-header>
		<img mat-card-image src={{dish.image}} alt={{dish.name}}>
	<mat-card-content>
		<p>{{dish.description}}</p>
	</mat-card-content>
	<mat-card-actions>
		<button mat-button>LIKE</button>
		<button mat-button>SHARE</button>
		<button mat-button (click)="goBack()">Go Back</button>
	</mat-card-actions>
</mat-card>
    </div>

    <div fxFlex="60">
        <h3>
            <center>Comments</center>
        </h3>
        <div *ngFor="let c of dish.comments" class="comment">
            <p>{{c.comment}}</p>
            <p>{{c.ratings}} stars</p>
            <p>--{{c.author}} {{c.date | date}}</p>
            <br>
        </div>
    </div>
</div>